@tailwind base;
@tailwind components;
@tailwind utilities;

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

/* Define pink shadow */
.shadow-pink {
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0px 0px 0px rgba(255, 111, 147, 0.5);
}

/* Define pink shadow on hover */
.shadow-pink:hover,
.shadow-pink-hover {
  box-shadow: 0px 0px 10px 0px rgba(255, 111, 147, 0.8);
}

.inter-font-100 {
  font-weight: 100;
}

.inter-font-200 {
  font-weight: 200;
}

.inter-font-300 {
  font-weight: 300;
}

.inter-font-400 {
  font-weight: 400;
}

.inter-font-500 {
  font-weight: 500;
}

.inter-font-600 {
  font-weight: 600;
}

.inter-font-700 {
  font-weight: 700;
}

.inter-font-800 {
  font-weight: 800;
}

.inter-font-900 {
  font-weight: 900;
}
